<div class="navbar">
  <app-navbar
    [currentLang]="currentLang"
    (changeLangEvent)="toggleLanguage()"
    (searchEvent)="searchLocation($event)"
  ></app-navbar>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div
  infiniteScroll
  [infiniteScrollDistance]="3"
  [infiniteScrollThrottle]="50"
  [alwaysCallback]="true"
  (scrolled)="onScroll()"
  class="content"
  role="main"
>
  <div class="photos">
    <div *ngFor="let image of images">
      <app-image [image]="image"></app-image>
    </div>
  </div>
</div>
